

<div id="map">

</div>


<style>
#map{
  height: 400px;
}
</style>

<script>

function initMap() {
    let target = document.getElementById('map');
    //HTMLに記載されている住所の取得
    let address = "<%= user.postcode.to_s %>";
    //ジオコーディングのインスタンスの生成
    let geocoder = new google.maps.Geocoder();

    //geocoder.geocode() にアドレスを渡して、コールバック関数を記述して処理
    geocoder.geocode({ address: address }, function (results, status) {
        //ステータスが OK で results[0] が存在すれば、地図を生成
        if (status === 'OK' && results[0]) {
            let map = new google.maps.Map(target, {
                //results[0].geometry.location に緯度・経度のオブジェクトが入っている
                center: results[0].geometry.location,
                zoom: 14
            });
            let marker = new google.maps.Marker({
                position: map.getCenter(),
                map: map
            });

        } else {
            //ステータスが OK 以外の場合や results[0] が存在しなければ、アラートを表示して処理を中断
            alert('失敗しました。理由: ' + status);
            return;
        }
    });

}


</script> 
 <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script> 
